
.introduce{
	width: 100vw;
	background: url('../../assets/img/common_bg.png') 100% 100% no-repeat;
	background-color: #6A30FE;
	background-size: cover;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
}
.introduce-bg{
	margin: auto;
	width: 340px;
	background: #FFFFFF;
	border-radius: 13px;
	position: relative;
	overflow: hidden;
	margin-top: 110px;
	margin-bottom: 30px;
	.btn{
		width: 118px;
		height: 39px;
		line-height: 39px;
		background: linear-gradient(360deg, #865afd 0%, #7271fd 100%);
		border-radius: 7px;
		border: 1px solid #979797;
		color: #fff;
		font-size: 19px;
		font-weight: 500;
		text-align: center;
		margin-left: 50%;
		transform: translateX(-50%);
		margin-top: 16px;
		margin-bottom: 16px;
	}
	.content{
		min-height: 450px;
		min-height: 450px;
		box-sizing: border-box;
		overflow-y: scroll;
		font-size: 14px;
		line-height: 20px;
		/deep/table{
			color: #DEBB81;
			font-size: 12px!important;
			transform: scale(0.8);
			width: 360px;
			margin-left: -35px;
			border-collapse: collapse;
			margin-top: -10px;
			tr{
				height: 22px;
				td{
					border:1px solid #DEBB81!important;
					text-align: center;
				}
			}
		}
		/deep/img{
			width: 100%!important;
			height: 100%!important;
			margin: auto;
		}
	}
	.container-box{
		height: 100vh;
		padding: 120px 35px 60px 45px;
		.container-text{
			display: flex;
			justify-content: center;
			margin-bottom: 10px;
			&.one{
				margin-bottom: 0px;
			}
			
			.container-icon{
				// width: 20px;
				height: 17px;
				text-align: center;
				line-height: 17px;
				background-color: #DEBB81;
				border-radius: 2px;
				padding: 0 5px;
				// margin-right: 10px;
				color: #FFFFFF;
			}
			.container-title{
				// height: 41px;
				margin-left: 10px;
				font-size: 15px;
				font-family: Roboto-Regular, Roboto;
				font-weight: 400;
				color: #DEBB81;
				line-height: 20px;
				word-break: keep-all;
			}
		}
		.btn{
			width: 118px;
			height: 39px;
			line-height: 39px;
			background: linear-gradient(360deg, #865afd 0%, #7271fd 100%);
			border-radius: 7px;
			border: 1px solid #979797;
			color: #333333;
			font-size: 19px;
			font-weight: 500;
			text-align: center;
			margin-left: 50%;
			transform: translateX(-50%);
			margin-top: 30px;
		}
	}
	
}