.wallet{
  background: #F0F0F0;
  overflow: hidden;
  min-height: 100vh;
  .account{
    width: 375px;
    height: 205px;
    background: linear-gradient(360deg, #865afd 0%, #7271fd 100%);
    overflow: hidden;
    .text{
      margin-top: 42px;
      text-align: center;
      height: 25px;
      font-size: 19px;
      font-weight: 400;
      color: #fff;
      line-height: 25px;
    }
    .price{
      text-align: center;
      margin-top: 16px;
      height: 52px;
      font-size: 38px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #fff;
      line-height: 52px;
    }
  }
  .card{
    width: 342px;
    height: 205px;
    background: #FFFDFD;
    border-radius: 8px;
    margin: auto;
    margin-top: -30px;
    overflow: hidden;
    .tips{
      height: 18px;
      font-size: 13px;
      font-family: Roboto-Regular, Roboto;
      font-weight: 400;
      color: #ADADAD;
      line-height: 17px;
      margin-left: 10px;
      margin-top: 16px;
    }
    .withdraw{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: calc(100% - 20px);
      margin: auto;
      margin-top: 16px;
      height: 52px;
      .sign{
        font-size: 38px;
      }
      .ipt{
        flex: 1;
        font-size: 20px;
      }
      .withdraw_all{
        color: #865afd;
        font-size: 15px;
      }
    }
    .btn{
      width: 309px;
      height: 42px;
      line-height: 42px;
      background: linear-gradient(360deg, #865afd 0%, #7271fd 100%);
      border-radius: 21px;
      text-align: center;
      color: #fff;
      margin: auto;
      margin-top: 36px;
    }
  }
  .rule_text{
    margin: auto;
    width: 342px;
    font-size: 13px;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: #ADADAD;
    line-height: 17px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
}